In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('customer.csv')

In [40]:
df = df.iloc[:,2:]
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [41]:
from sklearn.model_selection import train_test_split

In [58]:
X_train,X_test,y_train,y_test = train_test_split(df.iloc[:,0:2],df.iloc[:,-1],test_size=0.2)

In [55]:
X_train.head()

     review education
48     Good        UG
9      Good        UG
4   Average        UG
7      Poor    School
35     Poor    School

In [52]:
from sklearn.preprocessing import OrdinalEncoder

# Assuming X_train is a DataFrame with the two features you want to encode.
categories = [['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']]

oe = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])
oe.fit(X_train)
X_train_encoded = oe.transform(X_train)
X_test_encoded = oe.transform(X_test)

In [54]:
X_train_encoded

array([[2., 1.],
       [2., 1.],
       [1., 1.],
       [0., 0.],
       [0., 0.],
       [2., 0.],
       [2., 2.],
       [1., 1.],
       [0., 2.],
       [1., 0.],
       [0., 2.],
       [0., 2.],
       [0., 0.],
       [2., 2.],
       [1., 1.],
       [0., 0.],
       [2., 0.],
       [1., 2.],
       [2., 1.],
       [0., 2.],
       [1., 2.],
       [1., 0.],
       [1., 0.],
       [2., 0.],
       [2., 2.],
       [0., 1.],
       [1., 0.],
       [1., 1.],
       [0., 0.],
       [1., 0.],
       [2., 0.],
       [0., 2.],
       [1., 1.],
       [2., 0.],
       [0., 2.],
       [0., 2.],
       [0., 2.],
       [2., 1.],
       [2., 2.],
       [1., 2.]])

In [59]:
from sklearn.preprocessing import LabelEncoder
la = LabelEncoder()
la.fit(y_train)
y_train_encoded = la.transform(y_train)
y_test_encoded = la.transform(y_test)

In [60]:
y_train_encoded

array([0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0,
       1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0])

In [81]:
df_encoded = pd.DataFrame(X_train_encoded, columns=X_train.columns)
df_encoded
df = pd.DataFrame(y_train_encoded, columns=['purchased'])
# df
c = pd.concat([df_encoded,df],axis=1)
c

    review  education  purchased
0      2.0        1.0          0
1      2.0        1.0          0
2      1.0        1.0          0
3      0.0        0.0          1
4      0.0        0.0          1
5      2.0        0.0          0
6      2.0        2.0          1
7      1.0        1.0          1
8      0.0        2.0          1
9      1.0        0.0          1
10     0.0        2.0          1
11     0.0        2.0          1
12     0.0        0.0          0
13     2.0        2.0          1
14     1.0        1.0          0
15     0.0        0.0          1
16     2.0        0.0          1
17     1.0        2.0          0
18     2.0        1.0          1
19     0.0        2.0          0
20     1.0        2.0          1
21     1.0        0.0          0
22     1.0        0.0          1
23     2.0        0.0          1
24     2.0        2.0          0
25     0.0        1.0          0
26     1.0        0.0          0
27     1.0        1.0          0
28     0.0        0.0          0
29     1.0        0.0          1
30     2.0        0.0          0
31     0.0        2.0          0
32     1.0        1.0          1
33     2.0        0.0          1
34     0.0        2.0          0
35     0.0        2.0          1
36     0.0        2.0          0
37     2.0        1.0          0
38     2.0        2.0          1
39     1.0        2.0          0

In [82]:
c.shape

(40, 3)